@import "tailwindcss";
body{
  background-color:black;
}
/* Hide scrollbar but allow scrolling */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none; /* IE/Edge */
  scrollbar-width: none; /* Firefox */
}
body {
  background-color: #0a0a0f;
  color: #e5e7eb;
  font-family: "Inter", sans-serif;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background: #facc15;
  border-radius: 10px;
}

